.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  padding: 60px 10%;
}

.projects-title {
  position: relative;
  text-align: center;
}

.projects-title h1 {
  font-size: 60px;
  font-weight: 600;
  margin: 0 auto;
}

.projects-title img {
  position: absolute;
  bottom: 0;
  right: 10%;
  max-width: 100px;
  height: auto;
  z-index: -1;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.project-card {
  position: relative;
  width: 320px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.image-wrapper {
  position: relative;
  width: 100%;
  height: 180px;
  overflow: hidden;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  transition: filter 0.3s ease;
}

.image-wrapper:hover img {
  filter: blur(1px);
}

.image-wrapper:hover .eye-overlay {
  opacity: 1;
}

.eye-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 12px;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-decoration: none;
  z-index: 2;
}

.work-title {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin: 10px 0;
  color: white;
}

.work-title:hover {
  color: #ff00ff;
  transition: 0.3s;
  cursor: pointer;
}

.work-description {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #A0A0A0;
  margin-bottom: 15px;
}

.projects-showmore {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border-radius: 50px;
  border: 2px solid white;
  padding: 16px 32px;
  font-size: 18px;
  font-weight: 500;
  margin: 30px auto 0;
  transition: gap 0.3s ease;
  cursor: pointer;
}

.projects-showmore:hover {
  gap: 30px;
}

.projects-showmore a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

/* RESPONSIVE STYLES */
@media (max-width: 768px) {
  .projects {
    padding: 40px 20px;
    gap: 40px;
    align-items: center;
  }

  .projects-title h1 {
    font-size: 40px;
    padding: 0;
  }

  .projects-title img {
    width: 80px;
    right: 5%;
  }

  .project-card {
    width: 90%;
    max-width: 320px;
  }

  .projects-container {
    gap: 20px;
  }

  .projects-showmore {
    font-size: 16px;
    padding: 14px 28px;
  }
}
